.wrapper {
   gap: var(--block-gap);

   .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--block-gap);

      @media (max-width: 991px) {
         display: flex;
         flex-direction: column;
      }
   }

   .action {
      margin: 0 auto;
   }
}