.footer {
   padding-bottom: calc(var(--small-gap) * 0.5);
   gap: calc(var(--page-gap) * 1);

   .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .contacts {
         gap: calc(var(--block-gap) * 0.75);

         .logo {
            @media (min-width: 768px) {
               flex: 1;
            }
         }

         @media (min-width: 768px) {
            margin-right: var(--block-gap);
         }

         @media (max-width: 1399px) {
            flex-direction: column;
         }
      }



      @media (max-width: 1199px) and (min-width: 768px) {
         grid-template-columns: repeat(3, 1fr);

         .contact,
         .form {
            grid-column: span 2;
         }
      }

      @media (max-width: 767px) {
         grid-template-columns: repeat(2, 1fr);
         gap: var(--small-gap);
      }

      @media (max-width: 575px) {
         display: flex;
         flex-direction: column-reverse;
         gap: var(--block-gap);

         .contact {
            width: 100%;
         }
      }
   }

   .bottom {
      gap: var(--small-gap);
   }
}