.footer {
   padding-top: var(--page-gap);
   padding-bottom: calc(var(--small-gap) * 0.5);
   gap: calc(var(--page-gap) * 1);

   .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .contacts {
         gap: calc(var(--block-gap) * 0.75);

         .logo {
            @media (min-width: 768px) {
               flex: 1;
            }
         }

         .network {
            gap: calc(var(--block-gap) * 0.5);

            @media (max-width: 767px) {
               flex-direction: row;
               flex-wrap: wrap;

               .sublist {
                  flex: 1;

                  &:last-child {
                     flex-basis: 100%;
                  }
               }
            }
         }

         @media (min-width: 768px) {
            margin-right: var(--block-gap);
         }

         @media (max-width: 1399px) {
            flex-direction: column;
         }
      }

      .form {
         @media (max-width: 1199px) {
            grid-column: span 2;
         }
      }

      @media (max-width: 1199px) {
         grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 767px) {
         display: flex;
         flex-direction: column-reverse;
         gap: var(--block-gap);
      }
   }

   .bottom {
      gap: var(--small-gap);
   }
}