.section {
   --section-padding-top: 24px;
   --section-gap: 0;
   height: 100svh;

   @media (max-width: 1919px) {
      --section-padding-top: 26px;
   }

   @media (max-width: 1199px) {
      --section-padding-top: calc(var(--header-height) + var(--normal-gap));
   }
}

.content {
   flex: 1;
   padding-top: min(6svh, var(--block-gap));
   padding-bottom: min(6svh, var(--block-gap));
   min-height: 0;
   gap: var(--small-gap);

   .imageWrapper {
      min-height: 0;
      overflow: hidden;

      .image {
         max-height: 100%;
         filter: blur(2.4px);
      }

      .lay {
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         z-index: 2;
      }

      @media (max-width: 1199px) and (min-width: 768px) {
         flex: 1;

         .image {
            height: 100%;
         }
      }

      @media (max-width: 767px) {
         .image {
            aspect-ratio: 16 / 9;
         }
      }
   }

   .text {
      flex-shrink: 0;
      gap: var(--small-gap);

      .author {
         margin-left: auto;
      }

      @media (max-width: 767px) {
         flex-direction: column;
      }
   }

   @media (min-width: 768px) {
      justify-content: center;
   }

   @media (max-width: 1199px) {
      padding-top: var(--normal-gap);
   }

   @media (max-width: 767px) {
      flex: 3;
   }
}