.section {
   // --section-padding-top: var(--block-gap);
   --section-padding-bottom: 0;

   .wrapper {
      .background {
         top: var(--section-gap);
         // margin-bottom: var(--section-gap);
         height: calc(100svh - var(--section-gap) * 2);
         z-index: 1;
      }

      .content {
         padding-top: var(--section-gap);
         padding-bottom: calc(100svh - var(--section-gap));
         gap: 30svh;
         z-index: 2;

         .sublist {
            gap: var(--block-gap);
         }
      }
   }
}