.input {
   --padding-vertical: 20px;
   --padding-horizontal: 23px;
   padding: 0 var(--padding-horizontal);
   height: 69px;
   align-items: center;

   &::placeholder {
      color: inherit;
   }

   &.textarea {
      padding: var(--padding-vertical) var(--padding-horizontal);
      height: auto;
      resize: none;
   }
}