.button {
   padding: var(--action-padding);
   transition: all 0.05s ease-in;

   @media (pointer: fine) {
      &:hover {
         background-color: var(--blue);
         transition: all 0.05 ease-out;
      }
   }
}