.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 911;

   .wrapper {
      padding-top: 24px;
      padding-bottom: 24px;
      justify-content: space-between;
      align-items: center;

      .actions {
         gap: var(--small-gap);
      }
   }
}