.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 911;

   .wrapper {
      padding-top: var(--small-gap);
      padding-bottom: var(--small-gap);
      justify-content: space-between;
      align-items: center;

      .actions {
         gap: var(--small-gap);
      }
   }
}