.form {
   position: relative;
   gap: calc(var(--small-gap) - 4px);

   .row {
      gap: calc(var(--small-gap) - 4px);
   }

   .textarea {
      flex: 1;
   }

   .stub {
      position: absolute;
      top: -2px;
      left: -2px;

      height: calc(100% + 4px);
      width: calc(100% + 4px);

      background-color: #e2e5eeb7;
   }
}