:root {
   --black: #232323;
   --white: #FFFFFF;
   --grey: #E2E5EE;
   --grey-2: #a3a4a5;
   --grey-bg: #F5F5FA;
   --blue: #0423F6;
   --blue-light: #d3d9ff99;
}

*:focus-visible {
   outline: 2px solid var(--black);
}

.background {
   &-grey {
      background-color: var(--grey);
   }

   &-grey-bg {
      background-color: var(--grey-bg);
   }

   &-white {
      background-color: var(--white);
   }

   &-black {
      background-color: var(--black);

      &:focus-visible {
         outline: 2px solid var(--blue);
      }
   }

   &-blue {
      background-color: var(--blue);
   }
}