:root {
   font-family: 'Aeonik', sans-serif;
}

.caption {
   &-96 {
      font-size: 96px;
      line-height: 110%;

      @media (max-width: 1919px) {
         font-size: 80px
      }

      @media (max-width: 1399px) {
         font-size: 64px;
      }

      @media (max-width: 1199px) {
         font-size: 52px;
      }

      @media (max-width: 991px) {
         font-size: 40px;
      }

      @media (max-width: 767px) {
         font-size: 36px;
      }

      @media (max-width: 575px) {
         font-size: 32px;
      }

      // @media (max-width: 479px) {
      //    font-size: 24px;
      // }

      // @media (max-width: 429px) {
      //    font-size: 22px;
      // }

      // @media (max-width: 389px) {
      //    font-size: 20px;
      // }
   }

   &-64 {
      font-size: 64px;
      line-height: 120%;

      @media (max-width: 1919px) {
         font-size: 52px;
      }

      @media (max-width: 1399px) {
         font-size: 48px;
      }

      @media (max-width: 1199px) {
         font-size: 40px;
      }

      @media (max-width: 991px) {
         font-size: 36px;
      }

      @media (max-width: 767px) {
         font-size: 30px;
      }

      @media (max-width: 575px) {
         font-size: 24px;
      }

      // @media (max-width: 479px) {
      //    font-size: 22px;
      // }

      // @media (max-width: 429px) {
      //    font-size: 20px;
      // }
   }

   &-44 {
      font-size: 44px;
      line-height: 120%;

      @media (max-width: 1919px) {
         font-size: 40px;
      }

      @media (max-width: 1199px) {
         font-size: 36px;
      }

      @media (max-width: 991px) {
         font-size: 30px;
      }

      @media (max-width: 767px) {
         font-size: 24px;
      }

      @media (max-width: 575px) {
         font-size: 20px;
      }

      // @media (max-width: 479px) {
      //    font-size: 18px;
      // }
   }
}

.text {
   &-black {
      color: var(--black);
   }

   &-white {
      color: var(--white);
   }

   &-grey {
      color: var(--grey-3);
   }

   &-blue {
      color: var(--blue);
   }


   &-32 {
      font-size: 32px;
      line-height: 140%;

      @media (max-width: 1919px) {
         font-size: 28px;
      }

      @media (max-width: 991px) {
         font-size: 24px;
      }

      @media (max-width: 767px) {
         font-size: 20px;
      }

      @media (max-width: 575px) {
         font-size: 18px;
      }
   }

   &-28 {
      font-size: 28px;
      line-height: 140%;

      @media (max-width: 1919px) {
         font-size: 24px;
      }

      @media (max-width: 991px) {
         font-size: 20px;
      }

      @media (max-width: 575px) {
         font-size: 18px;
      }
   }

   &-24 {
      font-size: 24px;
      line-height: 140%;

      @media (max-width: 1919px) {
         font-size: 20px;
      }

      @media (max-width: 991px) {
         font-size: 18px;
      }

      @media (max-width: 575px) {
         font-size: 16px;
      }
   }

   &-24nn {
      font-size: 24px;
      line-height: 140%;

      @media (max-width: 1919px) {
         font-size: 20px;
      }

      @media (max-width: 1199px) {
         font-size: 18px;
      }

      @media (max-width: 575px) {
         font-size: 16px;
      }
   }

   &-20 {
      font-size: 20px;
      line-height: 140%;

      @media (max-width: 1919px) {
         font-size: 18px;
      }

      @media (max-width: 991px) {
         font-size: 16px;
      }

      @media (max-width: 575px) {
         font-size: 15px;
      }
   }

   &-light {
      font-weight: 300;
   }

   &-regular {
      font-weight: 400;
   }

   &-bold {
      font-weight: 700;
   }

   &-center {
      text-align: center;
   }
}