@use './colors.scss';
@use './ui.scss';
@use './fonts.scss';
@use './layout.scss';

@use "tailwindcss";

:root {
  color: var(--black);
  background-color: var(--grey-bg);
}

*::selection {
  background-color: var(--blue-light);
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}


@media (min-width: 992px) {

  html,
  body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
  }

  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge, Safari (настольный) */
  }
}