:root {
   --action-height: 52px;
   --action-padding: 12.5px 32px 16.5px 32px;

   --header-height: 101px;
}

img,
video {
   width: 100%;
   height: auto;
   object-fit: cover;
   user-select: none;
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.rounded {
   &-90 {
      border-radius: 90px;
   }

   &-32 {
      border-radius: 32px;
   }

   &-24 {
      border-radius: 24px;
   }
}

.will {
   &-blue {
      transition: 0.1s ease-in;

      svg path {
         transition: 0.1s ease-in;
      }

      @media (pointer: fine) {
         &:hover {
            color: var(--blue);
            transition: 0.1s ease-out;

            svg path {
               fill: var(--blue);
               stroke: var(--blue);
               transition: 0.1s ease-out;
            }
         }
      }
   }
}