.scrollbar {
   --width: 6px;

   top: 25dvh;
   right: var(--small-gap);
   height: 50dvh;
   width: var(--width);

   .wrapper {
      width: var(--width);

      .indicator {
         width: var(--width);
      }
   }

   @media (max-width: 991px) {
      right: calc(var(--wrapper-horizontal-padding) * 0.5 - var(--width) * 0.5);
   }
}