.header {
   --move: 4;
   --columns: 12;

   .titleWrapper {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);

      .title {
         grid-column-end: var(--columns);
      }

      .first {
         grid-column-start: calc(var(--move) - 1);
      }

      .second {
         grid-column-start: var(--move);
      }
   }
}