.card {
   --image-height: 385px;
   gap: var(--small-gap);

   .image {
      height: var(--image-height);
   }

   .title {
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
   }

   @media (max-width: 1919px) {
      --image-height: 304px;
   }

   @media (max-width: 1199px) {
      --image-height: 280px;
   }

   @media (max-width: 991px) {
      --image-height: 364px;
   }

   @media (max-width: 767px) {
      --image-height: 280px;
   }

   @media (max-width: 575px) {
      --image-height: 220px;
   }

   @media (max-width: 389px) {
      --image-height: 202px;
   }
}