@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-Bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-BoldItalic.otf') format('opentype');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-RegularItalic.otf') format('opentype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-Light.otf') format('opentype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Aeonik';
   src: url('./otf/AeonikPro-LightItalic.otf') format('opentype');
   font-weight: 300;
   font-style: italic;
}
