.section {
   .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .mediaWrapper {
         margin-left: calc(var(--block-gap) * 2);

         .media {
            position: absolute;
            height: 100%;
         }
      }

      .textWrapper {
         padding: calc(var(--block-gap) * 0.5) 0;
         gap: var(--block-gap);

         .text {
            gap: calc(var(--small-gap) * 0.5);
         }
      }
   }

}

.header {
   gap: calc(var(--small-gap) * 0.5);
}